body {
	background: url('../img/bgr-40.png') center top no-repeat;
	background-size: cover;
}
.container .home input{
	display: block;
    font-size: 40px;
    height: 70px;
    line-height: 20px;
    margin: 60px auto 0;
    padding: 0 40px;
    width: 330px;
}
h1{
	color: #ffffff;
}
.container .logo{
	margin-top: 20px;
	padding: 10px;
}
.container .list{
	background-color: rgba(255,255,255,0.8);
	padding: 30px;
	height: 300px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.container .list i.fa-barcode{
	font-size: 60px;
}
.container .list table{
	text-align: left;
}
.container .list table a{
	color: #BD0102;
	font-size: 20px;
}
.container .list .total{
	margin-right: 285px;
}
.container .list .total div{
	margin-left: 100px;
}